body {
  margin-top: 15px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*how do I change this since we're using bootstrap???*/
.navbar-header {
  color: #e58270;
}

li {
  margin-bottom: 20px;
}

